body {
  font-family: "Segoe UI", sans-serif;
  background: #f4f7fb;
  padding: 30px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.card-container {
  width: 380px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.flashcard {
  height: 180px;
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: 18px;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.primary {
  background: #4f46e5;
  color: white;
}

.secondary {
  background: #e5e7eb;
}

.success {
  background: #22c55e;
  color: white;
}

.danger {
  background: #ef4444;
  color: white;
  margin-top: 10px;
}

.progress {
  margin-top: 40px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  padding: 6px;
  margin: 5px auto;
  width: 260px;
  border-radius: 6px;
}
